.range {
  --transparent-white: rgba(255, 255, 255, 0.336);
  display: flex;
  align-items: center;
  position: relative;
}

.sliderBg {
  position: absolute;
  height: 3px;
  background-color: #fff;
  z-index: 2221;
  top: 0;
  left: 0;
}

.range input {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: var(--transparent-white);
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
  cursor: pointer;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.range input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.range input::-moz-range-progress {
  background: var(--transparent-white);
}
