@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Maven+Pro:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.bg {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: 0.5s ease-in opacity;
}
.bg.activeBg {
  transition: 0.5s ease-in opacity;
  opacity: 1;
}

.bg-overlay {
  background-color: #0f0f0f99;
  width: 100%;
  height: 100%;
  z-index: -5;
  position: absolute;
}

.bg img {
  width: 100%;
  background-position: center bottom;
}

button {
  background: none;
  border: 2px #ffffffcc solid;
  padding: 16px;
  width: 130px;
  border-radius: 2%;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
  font-family: 'Barlow', 'Maven Pro', sans-serif;
}

button:hover,
button.active {
  box-shadow: none;
  color: #000;
  background-color: #ffffffcc;
  border: none;
  width: 140px;
  padding: 24px;
  font-size: 17px;
  cursor: pointer;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.time-menu,
.player-container,
.audio-menu {
  flex: 1;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.player-container {
  position: relative;
}

.player-container .playPauseBtn,
.player-container .audioSeek {
  position: absolute;
}

.player-container .timer {
  position: absolute;
  bottom: 10%;
}

.audioSeek {
  max-width: 70%;
  width: 60%;
}

.volume-control {
  width: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0%;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  color: white;
}

.volume-slider {
  width: 100%;
  cursor: pointer;
}

.volume-icon {
  filter: invert(100%);
  cursor: pointer;
}

.timer {
  font-family: 'Barlow', 'Maven Pro', sans-serif;
  width: 120px;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  color: white;
}

.timer .min,
.timer .sec {
  width: 50px;
  display: flex;
  justify-content: center;
}

.resetIcon {
  position: absolute;
  width: 50px;
  top: 130px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.resetIcon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.playPauseBtn {
  width: 40px;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.playIcon,
.pauseIcon {
  width: 40px;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: scale(0);
}

.playIcon {
  transform-origin: left;
}
.pauseIcon {
  transform-origin: right;
}

.playPauseBtn.playMode {
  transition: all 0.3s ease-out;
}

.playPauseBtn.pauseMode {
  transition: all 0.3s ease-out;
}

.playMode .playIcon {
  opacity: 0;
  transform: translateX(20px) rotateY(90deg) scale(1.1);
  transition: all 0.3s ease-out;
}
.playMode .pauseIcon {
  transform: translateX(20px) rotateY(0deg) scale(1.1);
  transition: all 0.3s ease-out;
}

.pauseMode .playIcon {
  transform: translateX(-20px) rotateY(0deg) scale(1.1);
  transition: all 0.3s ease-out;
}
.pauseMode .pauseIcon {
  opacity: 0;
  transform: translateX(-20px) rotateY(-90deg) scale(1.1);
  transition: all 0.3s ease-out;
}

/* playpause btn hover effect */
.playPauseBtn.playMode:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.playPauseBtn.pauseMode:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.playMode .playIcon:hover {
  transform: rotateY(90deg) scale(1.1);
  transition: all 0.3s ease-out;
}
.playMode .pauseIcon:hover {
  transform: translateX(20px) rotateY(0deg) scale(1.1);
  transition: all 0.3s ease-out;
}

.pauseMode .playIcon:hover {
  transform: translateX(-20px) rotateY(0deg) scale(1.1);
  transition: all 0.3s ease-out;
}
.pauseMode .pauseIcon:hover {
  transform: rotateY(-90deg) scale(1.1);
  transition: all 0.3s ease-out;
}
